body{
    background-image: radial-gradient(rgb(38, 255, 0),rgb(251, 255, 0));
    color: rgb(234, 0, 255);
    font-family: Architects Daughter ;
    text-align:left;
}
h1{
    text-align: center;
    font-size:40px;
    font-family: Frijole;
    position: relative;
    animation: mymove 1s reverse;
    
}
.question{
    font-family: Architects Daughter ;
    color: rgb(234, 0, 255);
    font-weight: bolder;
    display:contents;
    width:fit-content;
    padding-top: 10px;
    min-height: 40px;
    text-align: left;
    font-size: 20px;
    transition: .3s ease-in-out;
}
button:hover{
    background-color:rgb(38, 255, 0);
    color: rgb(234, 0, 255);
    cursor:pointer;
}
button{
    font-weight: bolder;
    font-weight: bolder;
    color: rgb(157, 255, 0);
    display:list-item;
    width:auto;
    padding-top: 10px;
    min-height: 20px;
    text-align: left;
    transition: .3s ease-in-out;
    font-size: 12px;
    border-color: rgb(255, 136, 24);
    border-style: solid;
    border-width:thin;
    margin: 15px;
    border-style:hidden;
    border-radius: 20px; 
    background-color: rgb(234, 0, 255);
    font-family: Architects Daughter ;
    position: relative;
    animation: mymove 1s reverse;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 20px;}
  }