body{
    background-color: black;
    color: rgb(255, 136, 24);
    font-family: Architects Daughter ;
    text-align:left;
    max-width:fit-content;
    margin: 30 auto;
    font-family: Architects Daughter ;
}
.question{
    /* background-color: rgb(66, 65, 65); */
    font-family: Architects Daughter ;
    color: rgb(255, 136, 24);
    display:contents;
    width:fit-content;
    padding-top: 10px;
    min-height: 40px;
    text-align: left;
    
    font-size: 20px;
    /* border-color: rgb(255, 136, 24);
    border-style: solid;
    border-width:thin; */
    /* margin: 1px;
    border-style: groove;
    border-radius: 8px; */
    transition: .3s ease-in-out;
}
button:hover{
    background-color:rgb(136, 136, 136);
}
button{
    font-weight: bolder;
    color: rgb(255, 136, 24);
    display:list-item;
    width:auto;
    padding-top: 10px;
    min-height: 20px;
    text-align: left;
    transition: .3s ease-in-out;
    font-size: 12px;
    border-color: rgb(255, 136, 24);
    border-style: solid;
    border-width:thin;
    margin: 1px;
    border-style: groove;
    border-radius: 4px; 
    background-color: rgb(66, 65, 65);
}